# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Mac
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Model files (optional)
# models/*.h5
# models/*.task
# QuickDraw dataset (too large for GitHub)
data/quickdraw/
data/*.npy
*.npy
